# 주식코드 정보 불러오기

In [1]:
import pandas as pd

In [2]:
def get_stockinfo_from_krx(market_type):
    '''krx 홈페이지를 이용하여 주식이름에 따른 코드명 및 기타 정보 포함된 dataframe 반환
    
    market_type = 'kospi' 또는 'kosdaq'
    '''
    stock_type = {'kospi': 'stockMkt',
              'kosdaq': 'kosdaqMkt'}
    market_code = {'kospi': '.KS',
              'kosdaq': '.KQ'}
    url = 'http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&marketType=' + stock_type[market_type]
    df = pd.read_html(url)[0]
    df.종목코드 = df.종목코드.map(('{:06d}'+ market_code[market_type]).format)
    return df

In [3]:
kospi = get_stockinfo_from_krx('kospi')
kosdaq = get_stockinfo_from_krx('kosdaq')
total = pd.concat([kospi, kosdaq])

In [4]:
kospi.to_csv('../data/key_data/kospi_code.csv')
kosdaq.to_csv('../data/key_data/kosdaq_code.csv')
total.to_csv('../data/key_data/total_code.csv')

In [5]:
kospi.to_pickle('../data/key_data/kospi_code.pkl')
kosdaq.to_pickle('../data/key_data/kosdaq_code.pkl')
total.to_pickle('../data/key_data/total_code.pkl')

# 주식 코드 함수

In [6]:
def get_code(data, name):
    ''' 주식명 입력시 코드명 반환
    
    data : '회사명'과 '종목코드' 칼럼이 포함된 pandas.DataFrame
    name : 차을 회사명
    '''
    code = data.query("회사명=='{}'".format(name))['종목코드'].values[0]
    return code

# 크롤링 예제

In [7]:
from pandas_datareader import data

In [8]:
get_code(total, 'LG전자')

'066570.KS'

In [9]:
start_date = '2004-01-01'
end_date = '2020-09-01'
code = get_code(total, 'LG전자')

df = data.DataReader(code, 'yahoo', start_date, end_date)

df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2004-01-02,58085.898438,57202.800781,57791.601562,57497.199219,777329.0,50437.656250
2004-01-05,58184.000000,56908.500000,56908.500000,57399.101562,745326.0,50351.601562
2004-01-06,59165.199219,55142.398438,57987.800781,57791.601562,1841047.0,50695.910156
2004-01-07,58282.101562,57202.800781,57889.699219,58085.898438,1099593.0,50954.078125
2004-01-08,58380.300781,55338.601562,57791.601562,55436.699219,2582398.0,48630.148438
...,...,...,...,...,...,...
2020-08-26,90200.000000,86800.000000,90200.000000,87900.000000,1571474.0,87900.000000
2020-08-27,88700.000000,85500.000000,87700.000000,86200.000000,1330067.0,86200.000000
2020-08-28,87900.000000,85200.000000,87100.000000,85900.000000,954228.0,85900.000000
2020-08-31,87300.000000,84200.000000,86100.000000,84200.000000,1388783.0,84200.000000
2020-09-01,87900.000000,84700.000000,85100.000000,87700.000000,1133236.0,87700.000000